/* general details... */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(211, 211, 211);
  font-family: 'Lexend Giga', sans-serif;
  width: 100%;
}
.main-content {
  width: 100%;
}
.main-container {
  max-width: 540px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
  border-radius: 35px;
  box-shadow: 0px 9px 26px 5px #333;
}

/* company details section*/
.person-info {
  justify-content: left;
  padding: 40px 0 30px 40px;
}
.person-info h1 {
  font-size: 35px;
  font-weight: 700;
}
.person-info h2 {
  font-size: 17px;
}
/* .person-info-wrap{
  width: 100%;
} */
/* striped line design section */
.striped-line-design {
  
}
.striped-lines {
  list-style-type: none;
  /* position: relative; */
  padding: 30px 0;
  transform: rotate(90deg);
}
.striped-lines li {
 margin: 10px 0;
}
.striped-lines li:nth-child(1) {
  background: rgb(228, 225, 225);
  height: 2px;
  /* position: absolute; */
  /* top: 0; */
  transform: rotate(76deg) translateY(-144px) translateX(21px);
}
.striped-lines li:nth-child(2) {
  background: rgb(228, 225, 225);
  height: 2px;
}
.striped-lines li:nth-child(3) {
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to right,#d0a149,#dfb458,#f0c96a,#e3b85a,#e3b85a,#e3b85a,#e3b85a,#cfa048,#c29039,#bc8832,#b07926,#b17a27);
}
.striped-lines li:nth-child(4) {
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to right,#d0a149,#dfb458,#f0c96a,#e3b85a,#e3b85a,#e3b85a,#e3b85a,#cfa048,#c29039,#bc8832,#b07926,#b17a27);

}
.striped-lines li:nth-child(5) {
  background: rgb(228, 225, 225);
  height: 2px;
}
.striped-lines li:nth-child(6) {
  background: rgb(228, 225, 225);
  height: 2px;
}
.striped-lines li:nth-child(7) {
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to right,#d0a149,#dfb458,#f0c96a,#e3b85a,#e3b85a,#e3b85a,#e3b85a,#cfa048,#c29039,#bc8832,#b07926,#b17a27);
}
.striped-lines li:nth-child(8) {
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to right,#d0a149,#dfb458,#f0c96a,#e3b85a,#e3b85a,#e3b85a,#e3b85a,#cfa048,#c29039,#bc8832,#b07926,#b17a27);
}


/* person contact list section */
.person-contact-list{
  width: 100%;
}
.contact-list{
  padding: 10px 40px 10px 0;
}
.link{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}
.icon{
  width: 30px;
  height: 30px;
  position: relative;
  border: 1px solid #000;
  border-radius: 50%;
}
.icon img{
  width: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.person-detail{
  width: 90%;
  position: relative;
}
.person-detail a{
  display: block;
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 15px;
  transform: translate(0,-50%);
  color: #000;
  text-decoration: none;
  font-weight: 700; 
}

.phone .person-detail a:nth-child(1){
  top: 30%;
}
.phone .person-detail a:nth-child(2){
  top: 70%;
}

