/*https://befonts.com/stella-font.html*/


/*https://www.ffonts.net/RodinBokutohPro-B.font.download*/

@font-face {
  font-family: customfonts;
  src: url(/fonts/Nintendo\ Font\ \(Bold\).otf);
}

@font-face {
  font-family: numberfonts;
  src: url(/fonts/Semikolon\ Classic\ W03\ Bold.ttf);
}


/* ------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(226, 223, 223);
  width: 100%;
  font-family: customfonts;
}

.content {
  width: 100%;
}

.main-container {
  max-width: 540px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}
.top {
  background: url('/sharda/CCL0005/image/back.png') no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
}
.overlay {
  background: #000;
  opacity: 0.5;
  z-index: 1000;
  height: 100%;
  width: 100%;
  /* position: relative; */
}
.logo {
  padding-top: 60px;
}
.logo-image {
 width: 60%;
 margin: 0 auto;
 padding: 20px 0;
 position: relative;
 text-align: center;
}
.logo-image img {
  height: 120px;
  width: 120px;
  border-radius: 100px;
  border: 4px solid rgb(238, 204, 54);
  
}
#clips li {
 height: 22px;
 width: 22px;
 border: 3px solid rgb(238, 204, 54);
 position: absolute;
}
#clips li:nth-child(1) {
  left: 0;
  top: 0;
  border-right: none;
  border-bottom: none;
}
#clips li:nth-child(2) {
top: 0;
right: 0;
border-left: none;
border-bottom: none;
}
#clips li:nth-child(3) {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}
#clips li:nth-child(4) {
  right: 0;
  bottom: 0;
  border-top: none;
  border-left: none;
}
/* developer name box */

.developer-name {
  background: #222;
  padding: 20px 0;
  text-align: center;
}
.developer-name h1 {
  color:  rgb(238, 204, 54);
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 5px;
  position: relative;
}
.developer-name h1::before {
  content: '';
  position: absolute;
  background-color: rgb(238, 204, 54);
  width: 25px;
  height: 3px;
  top: 25px;
  right: 6%;
}
.developer-name h1::after {
  content: '';
  position: absolute;
  background-color: rgb(238, 204, 54);
  width: 25px;
  height: 3px;
  top: 25px;
  left: 6%;
}
.developer-name p {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}
/* social box */

.background {
  background-color: rgb(240, 235, 235);
  width: 90%;
  margin: 0 auto;
}
.social-link {
  width: 40px;
  height: 40px;
  background: rgb(238, 204, 54);
  border-radius: 50%;
  color: rgb(238, 204, 54);
  text-align: center;
  line-height: 40px;
  margin-bottom: 10px;
}

.social-link img {
  height: 24px;
  /* <<<<<<< HEAD */
  margin-top: 6px;
  /* ======= */
  margin-top: 10px;
  /* >>>>>>> 25de1e4c3b4a333a3922c0ef035d94d13a07aaee */
  margin-bottom: 4px;
}
.social-info {
  list-style-type: none;
  padding: 35px 0 20px;
  width: 65%;
  margin: 0 auto;
}
.social-info li {
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
}
.border-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(240, 235, 235);
}
.parallelogram-left {
  width: 50%;
  height: 20px;
  background: rgb(238, 204, 54);
  transform: skew(20deg) translateX(-5px);
  margin-right: 8px;
}
.parallelogram-right {
  width: 50%;
  height: 20px;
  background: rgb(238, 204, 54);
	transform: skew(20deg) translateX(5px);
}

