/*https://befonts.com/stella-font.html*/


/*https://www.ffonts.net/RodinBokutohPro-B.font.download*/


/* ------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(226, 223, 223);
  width: 100%;
  font-family: 'Lexend Giga', sans-serif;
}

.content {
  width: 100%;
}

.main-container {
  max-width: 540px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}

.top {
  background: url('/sharda/CCL0005/image/back.png') no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  position: relative;
}

.overlay {
  background: #000;
  opacity: 0.5;
  z-index: 1000;
  height: 100%;
  width: 100%;
  /* position: relative; */
}

.logo {
  position: absolute;
  top: 70px;
  /* left: 38%; */
  text-align: center;
  width: 100%;
}

.logo-image {
  width: 65%;
  margin: 0 auto;
  padding: 20px 50px;
  position: relative;
  text-align: center;
}

.logo-image img {
  height: 125px;
  width: 125px;
  border-radius: 100px;
  border: 4px solid rgb(238, 204, 54);
}

#clips li {
  height: 22px;
  width: 22px;
  border: 3px solid rgb(238, 204, 54);
  position: absolute;
  list-style-type: none;
}

#clips li:nth-child(1) {
  left: 0;
  top: 0;
  border-right: none;
  border-bottom: none;
}

#clips li:nth-child(2) {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

#clips li:nth-child(3) {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

#clips li:nth-child(4) {
  right: 0;
  bottom: 0;
  border-top: none;
  border-left: none;
}


/* developer name box */

.company-details {
  background: #222;
  padding: 20px 0;
  text-align: center;
}

.company-details h1 {
  color: rgb(238, 204, 54);
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 5px;
  position: relative;
  font-family: 'Lexend Giga', sans-serif;
}

.company-details h1::before {
  content: '';
  position: absolute;
  background-color: rgb(238, 204, 54);
  width: 25px;
  height: 3px;
  top: 25px;
  right: 6%;
}

.company-details h1::after {
  content: '';
  position: absolute;
  background-color: rgb(238, 204, 54);
  width: 25px;
  height: 3px;
  top: 25px;
  left: 6%;
}

.company-details p {
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
}


/* social box */

.complany-social-info {
  background-color: rgb(240, 235, 235);
  width: 90%;
  margin: 0 auto;
}

.person-contact-info-wrap {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0 20px;
}

.wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.icon {
  width: 40px;
  height: 40px;
  position: relative;
  background: rgb(238, 204, 54);
  border-radius: 50%;
}

.icon img {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.person-detail {
  width: 90%;
  position: relative;
}

.person-detail a {
  display: block;
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 15px;
  transform: translate(0, -50%);
  color: #000;
  /* color: rgb(87, 161, 190); */
  text-decoration: none;
  font-weight: 300;
}

.phone .person-detail a:nth-child(1) {
  top: 20%;
}

.phone .person-detail a:nth-child(2) {
  top: 70%;
}


/*  */

.border-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(240, 235, 235);
}

.parallelogram-left {
  width: 50%;
  height: 20px;
  background: rgb(238, 204, 54);
  transform: skew(20deg) translateX(-5px);
  margin-right: 8px;
}

.parallelogram-right {
  width: 50%;
  height: 20px;
  background: rgb(238, 204, 54);
  transform: skew(20deg) translateX(5px);
}