* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(145, 131, 131);
  width: 100%;
  font-family: 'Lexend Giga', sans-serif;
}

.content {
  width: 100%;
}

.main-container {
  max-width: 540px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}

.complany-details {
  height: 295px;
  background: #000;
  text-align: center;
}

.logo img {
  padding-top: 63px;
  width: 150px;
}

.logo h1 {
  color: #fff;
  font-size: 26px;
  font-weight: 500;
}


/* social information */

.complany-social-info {
  background-color: rgb(240, 235, 235);
  width: 90%;
  margin: 0 auto;
}

.person-contact-info-wrap {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0 20px;
}

.wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.icon {
  width: 40px;
  height: 40px;
  position: relative;
  background: rgb(80, 177, 117);
  border-radius: 50%;
}

.icon img {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.person-detail {
  width: 90%;
  position: relative;
}

.person-detail a {
  display: block;
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 15px;
  transform: translate(0, -50%);
  color: #000;
  /* color: rgb(87, 161, 190); */
  text-decoration: none;
  font-weight: 300;
}

.phone .person-detail a:nth-child(1) {
  top: 20%;
}

.phone .person-detail a:nth-child(2) {
  top: 70%;
}


/*  */

.clip {
  position: relative;
}

#left-clip {
  display: block;
  height: 88px;
  width: 29%;
  background: rgb(80, 177, 117);
  border: 1px solid rgb(80, 177, 117);
  position: relative;
  left: calc(1% - 10px);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  /* clip-path: polygon(0% 0%,100% 27%,0% 100%); */
  transform: rotate(360deg);
  bottom: -27px;
}

#inner-left-clip {
  display: block;
  height: 40px;
  width: 55%;
  background: rgb(46, 122, 75);
  border: 1px solid rgb(46, 122, 75);
  position: absolute;
  left: calc(9% - 10px);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  /* clip-path: polygon(0% 0%,100% 27%,0% 100%); */
  transform: rotate(0deg);
  bottom: 22px;
}

#right-clip {
  display: block;
  height: 88px;
  width: 29%;
  background: rgb(80, 177, 117);
  border: 1px solid rgb(80, 177, 117);
  position: relative;
  left: calc(74% - 10px);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  /* clip-path: polygon(0% 0%,100% 27%,0% 100%); */
  transform: rotate(180deg);
  bottom: 61px;
}

#inner-right-clip {
  display: block;
  height: 40px;
  width: 55%;
  background: rgb(46, 122, 75);
  border: 1px solid rgb(46, 122, 75);
  position: absolute;
  left: calc(10% - 10px);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  /* clip-path: polygon(0% 0%,100% 27%,0% 100%); */
  transform: rotate(0deg);
  bottom: 22px;
}


/* card info */

.card-structure {
  background-color: rgb(240, 235, 235);
  width: 93%;
  margin: 0 auto;
}

.card-info {
  padding: 70px 0 40px;
}

.person-info {
  padding-bottom: 30px;
  text-align: center;
}

.person-info h2 {
  font-size: 25px;
  color: rgb(80, 177, 117);
  font-weight: 600;
}

.person-info span {
  color: #333;
  font-weight: 400;
}

.person-info p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 7px;
}

.border-line {
  position: relative;
}

.border-line::after {
  content: '';
  position: absolute;
  background-color: rgb(80, 177, 117);
  width: 85px;
  height: 2px;
  top: 30px;
  left: 40%;
}

.social-info {
  list-style-type: none;
  margin-left: auto;
  width: 85%;
}

.social-info li {
  display: flex;
  margin: 35px 0;
  /* justify-content: space-evenly; */
}

.logo-box {
  background: #000;
  text-align: right;
  border-radius: 50%;
}

.logo-box a {
  text-decoration: none;
}

.info-box {
  text-align: justify;
  /* width: 50%; */
}

.info-box p {
  font-size: 14px;
}

.bottom-border-clip {
  display: block;
  height: 45px;
  width: 100%;
  background: rgb(80, 177, 117);
  border: 1px solid rgb(80, 177, 117);
  position: relative;
  left: calc(2% - 10px);
  clip-path: polygon(50% 0%, 100% 50%, 0% 100%);
  /* clip-path: polygon(0% 0%,100% 27%,0% 100%); */
  transform: rotate(3deg);
  bottom: 35px;
}

.inner-bottom-border-clip {
  display: block;
  height: 30px;
  width: 80%;
  margin: 0 auto;
  background: rgb(46, 122, 75);
  border: 1px solid rgb(46, 122, 75);
  position: relative;
  left: calc(2% - 10px);
  clip-path: polygon(50% 0%, 100% 50%, 0% 100%);
  /* clip-path: polygon(0% 0%,100% 27%,0% 100%); */
  transform: rotate(-1deg);
  bottom: -14px;
}