* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: lightgray;
  font-family: 'Lexend Giga', sans-serif;
  width: 100%;
}

.main-content {
  width: 100%;
}

.main-container {
  max-width: 540px;
  margin: 0 auto;
  background: #fff;
  padding: 90px 0 40px;
}

.company-logo-box {
  text-align: center;
}

.company-logo-box img {
  width: 180px;
  height: 250px;
  border-radius: 10px;
}

.top {
  width: 180px;
  /* height: 230px; */
  margin: 0 auto;
  position: relative;
}

.top-left-clip-border {
  position: absolute;
  height: 100px;
  width: 115px;
  border-top-left-radius: 19px 20px;
  border-top: 10px solid rgb(80, 177, 117);
  border-left: 10px solid rgb(80, 177, 117);
  top: -10px;
  left: -10px;
}

.bottom-right-clip-border {
  position: absolute;
  height: 100px;
  width: 115px;
  border-bottom-right-radius: 19px 20px;
  border-bottom: 10px solid rgb(80, 177, 117);
  border-right: 10px solid rgb(80, 177, 117);
  bottom: -6px;
  right: -10px;
}


/* ------------------------ */

.company-details {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0 50px;
}

.company-details h1 {
  font-size: 30px;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
}

.company-details span {
  font-weight: 500;
  font-size: 30px;
}

.bottom-line {
  position: relative;
  font-size: 18px;
  color: rgb(80, 177, 117);
}

.bottom-line::after {
  content: '';
  position: absolute;
  background-color: rgb(80, 177, 117);
  width: 25%;
  height: 4px;
  top: 32px;
  /* bottom: -7px; */
  left: 2px;
}

.social-info {
  list-style-type: none;
}

.social-info li {
  display: flex;
  margin: 5px 0;
}

.logo-box {
  background: rgb(80, 177, 117);
  width: 25%;
  text-align: right;
  margin-right: 15px;
}

.logo-box a {
  text-decoration: none;
}

.logo-box a i {
  color: #fff;
  padding: 10px;
}

.person-info-wrap {
  width: 100%;
}

.person-main-info {
  padding: 10px 30px 10px 30px;
}

.person-main-info h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.person-main-info span {
  font-weight: 100;
}

.person-main-info p {
  text-transform: capitalize;
  color: #E6E6E6;
  font-size: 14px;
  font-weight: 600;
}

.person-contact-info-wrap {
  width: 100%;
}

.person-contact-info {
  padding: 10px 0 10px 0;
}

.wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  width: 110px;
  height: 30px;
  position: relative;
  background: rgb(80, 177, 117);
}

.icon img {
  width: 16px;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%);
}

.person-detail {
  width: 90%;
  position: relative;
}

.person-detail a {
  display: block;
  position: absolute;
  text-decoration: none;
  top: 50%;
  left: 5%;
  font-size: 14px;
  transform: translate(0, -50%);
  color: #666;
  font-weight: 700;
  line-height: 18px;
}

.phone .person-detail a:nth-child(1) {
  top: 30%;
}

.phone .person-detail a:nth-child(2) {
  top: 70%;
  line-height: 20px;
}